@charset "utf-8";
@import url("p_designs.css");

article{
    font-size: 20px;
}
footer{
    text-align: center;
    font-size: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    /*height: 1.5em;*/
    background-image:
          radial-gradient(
            yellow,
            #f06d06
          );
}
body{
    background-image: linear-gradient(#F7971E, #FFD200);
}
p{
    color: black;
}
nav{
    background-image:
    radial-gradient(
      yellow,
      #f06d06
    );
}
html{
    background-image: url(whitetile2.png);
}