@charset "utf-8";
@import url("p_designs.css");
article p{
    font-family: 'Press Start 2P', cursive;
}
nav ul li{
    font-family: 'Press Start 2P', cursive;
}
article{
    font-size: 25px;
}

*{box-sizing:border-box}

.container {
  width: 100%;
  background-color: #ddd;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 95%; background-color: #4CAF50;}
.css {width: 95%; background-color: #2196F3;}
/*footer{
    display: none;
}*/
nav li:nth-of-type(1){
    padding: 90px;
}
nav li:nth-of-type(2){
    padding: 90px;
}
nav li:nth-of-type(3){
    padding: 90px;
}
nav li:nth-of-type(4){
    padding: 90px;
}
nav li:nth-of-type(5){
    padding: 90px;
}
footer{
    text-align: center;
    font-size: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    /*height: 1.5em;*/
    background-image:
      radial-gradient(
        yellow,
        #f06d06
      );
}

nav{
    background-image:
    radial-gradient(
      yellow,
      #f06d06
    );
}
body{
    background-image: linear-gradient(#F7971E, #FFD200);
}
p{
    color: black;
}
html{
    background-color: maroon;
}