@charset "utf-8";
@import url("p_designs.css");

footer{
    text-align: center;
    font-size: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    /*height: 1.5em;*/
    background-image:
          radial-gradient(
            yellow,
            #f06d06
          );
}

body > nav > ul li a{
    text-decoration: none;
}
/*H1 styles*/
h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.glow{
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
/*@-webkit-keyframes glow{
    from{
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to{
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}*/
body{
    background-image: linear-gradient(#F7971E, #FFD200);
}
h1{
    color: black;
}
html{
    background-color: maroon;
}
nav{
    background-image:
    radial-gradient(
      yellow,
      #f06d06
    );
}