@charset "utf-8";

/* HTML and Body Styles */

html{
    background: rgb(255,111,105);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
}
/*Body Styles*/
body{
    max-width: 1024px;
    margin: 0px auto; 
}
 /*Footer Styles*/
footer{
    text-align: center;
    font-size: 16px;
    width: 100%;
    position: absolute;
    position: center;
    bottom: 0;
    height: 1.5em;
    background: rgb(150,206,180);
}
/*Nav Styles*/
nav{
    text-align: center;
    margin: 20px 0 0;
    padding: 10px 0;
    top: 0;
    text-shadow: 0px 0px 2px black, 0px 0px 15px white;
    box-shadow: black 10px 10px 25px;
}
nav ul{
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    background-color: rgb(150,206,180);
    height:50px;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 2px;
    padding: 0;
}
nav ul li{
    max-width: 80px;
    margin: 10px;
    list-style-type: none;
}
nav ul li a{
    color: white;
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding: 50% 0%;
    text-decoration: none;
}
nav ul li a:hover, nav ul li a:active {
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 2px black, 0px 0px 15px white;
 }