@charset "utf-8";
@import url("p_designs.css");
body{
    font-family: 'Press Start 2P', cursive;
}
img{
    float: left;
    display: block;
    border-radius: 35px;
    padding: 7px;
    width:250;
    height:250;
}
div.img::after{
    clear: both;
    content: "";
    display: table;
}
footer{
    display: none;
}
img{
    border: dashed 2px black;
    margin-top:12px;
    margin-left: 18px;
}